{# src/BNC/CVBundle/Resources/views/Exp/index.html.twig #}

{% extends "BNCCVBundle::layout.html.twig" %}

{% block container %}

<div class="table-responsive borderless">
  <table class="table" id="exp-block">
  </table>
</div>


<script id="exp-template" type="text/x-handlebars-template">
{% raw %}
  <tbody>
  {{#each experience}}
    <tr>
      <td colspan="2" class="cellTitle">{{title}}</td>
    </tr>
    {{#each modules}}
      <tr>
        <td class="cellName">{{name}}</td>
        <td>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%;">
              {{percent}}%
            </div>
          </div>
        </td>
      </tr>
    {{/each}}
  {{/each}}
  </tbody>
{% endraw %}
</script>

<script>
installExp("{{ asset('bundles/cv/toto.json') }}");
</script>

{% endblock %}